
block vars
footer
  .flex.space--around
    .col-50.links
      .footer-links_title
        h3.footer-title Чоо Галина Аркадьевна. 
          span Официальный сайт
      
      .col-1.footer-links_list
        ul
          li: a(href="#{linkLevel}about") О хирурге
          li: a(href="#{linkLevel}services/index.html") Услуги
          li: a(href="#{linkLevel}fotogallery") Фотогалерея
          li: a(href="#{linkLevel}faq") Вопрос/Ответ
          li: a(href="#{linkLevel}contacts") Контакты
        
    .col-50.footer-contacts
      .row.footer-contacts_title
        h3.footer-title Контакты
      .col-1.footer-contacts_means
        p +7(925) 101-90-87
        p cho_galina54@mail.ru
