block vars

header
  .container
    .flex.header-top
      .logo

      nav
        ul
          li: a(href="#{linkLevel}about.html") О хирурге
          li: a(href="#{linkLevel}services/index.html") Услуги
          li: a(href="#{linkLevel}fotogallery") Фотогалерея
          li: a(href="#{linkLevel}faq") Вопрос/Ответ
          li: a(href="#{linkLevel}contacts") Контакты

    .header-bottom
      .header-title
        h3 Пластический хирург Чоо Галина Аркадьевна
      .header-tel
        <i class="fa fa-mobile"></i>  
        tel.top-phone 
          span  8-915-055-5555
